@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap');
@import "tailwindcss";


@font-face {
  font-family: "parizuli";
  src: url("/fonts/gl-parizuli-medium.ttf") format("truetype");
}


body {
  font-family: "Noto Serif Georgian", serif;
}

.logo {
  font-family: "parizuli";
}

.swiper-button-disabled {
  opacity: 0.3;
}